[submodule "backend-server"]
	path = backend-server
	url = https://github.com/SzymonSergiusz/psiim-server.git
[submodule "frontend-webapp"]
	path = frontend-webapp
	url = https://github.com/SzymonSergiusz/psiim-strona.git
