[submodule "backend-server"]
	path = psiim-server
	url = https://github.com/SzymonSergiusz/psiim-server.git
[submodule "frontend-webapp"]
	path = psiim-strona
	url = https://github.com/SzymonSergiusz/psiim-strona.git
