[submodule "psiim-server"]
	path = psiim-server
	url = https://github.com/SzymonSergiusz/psiim-server.git
[submodule "psiim-strona"]
	path = psiim-strona
	url = https://github.com/SzymonSergiusz/psiim-strona.git
